* {
    box-sizing: border-box;
    font-family: 'Roboto';
}

.estilo-menu {
    background-color: #ffffff;

    width: 375px;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    z-index: 1;
}

.menu-topo  {
    padding: 0 22px;

    position: fixed;
    top: 0;
    left: 0;

    box-shadow: 0 5px 5px lightgrey;
}

.menu-topo img  {
    width: 75px;
}

ion-icon {
    width: 48px;
    height: 40px;
}

.historicoDeMensagens {
    padding-top: 100px;
    padding-bottom: 80px;
    width: 375px;
    height: auto;
    background-color: #E5E5E5;

    overflow-y: scroll;
}

.historicoDeMensagens li {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 5px 0;

    font-size: 14px;

    border-radius: 2px;
}


.mensagemStatus {
    background-color: #DCDCDC;
}

.mensagemNormal {
    background-color: #ffffff;
}

.mensagemPrivada {
    background-color: #FFDEDE;
}

.horario {
    color: rgb(155, 155, 155);
}

span {
    line-height: 21px;
}

strong {
    font-weight: 700;
}

.menu-footer {
    padding-right: 18px;
    padding-left: 15px;

    position: fixed;
    bottom: 0;
    left: 0;

    box-shadow: 0 -5px 5px lightgrey;
}

input {
    width: 90%;
    height: 80%;

    font-family: Roboto;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

    border: none;
}